.product-form,
.product-list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-bottom: 100px;
}

.container {
    min-height: 78vh;
}

.product-form {
    width: 40%;
}

.product-form h2,
.product-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.float-right {
    text-align: right;
}

h2 {
    text-align: center;
    margin: 10px;
}